In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('databill.csv')

In [3]:
data.head()

,num_rooms,num_people,housearea,is_ac,is_tv,is_flat,ave_monthly_income,num_children,is_urban,amount_paid
0,3,3,742.57,1,1,1,9675.93,2,0,560.481447
1,1,5,952.99,0,1,0,35064.79,1,1,633.283679
2,3,1,761.44,1,1,1,22292.44,0,0,511.879157
3,0,5,861.32,1,1,0,12139.08,0,0,332.992035
4,1,8,731.61,0,1,0,17230.10,2,1,658.285625

In [4]:
data.shape

(1000, 10)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   num_rooms           1000 non-null   int64
 1   num_people          1000 non-null   int64
 2   housearea           1000 non-null   float64
 3   is_ac               1000 non-null   int64
 4   is_tv               1000 non-null   int64
 5   is_flat             1000 non-null   int64
 6   ave_monthly_income  1000 non-null   float64
 7   num_children        1000 non-null   int64
 8   is_urban            1000 non-null   int64
 9   amount_paid         1000 non-null   float64
dtypes: float64(3), int64(7)
memory usage: 78.2 KB

In [6]:
for column in data.columns:
    print(data[column].value_counts())
    print('*'*20)

 2    373
 1    257
 3    240
 0     65
 4     56
-1      5
 5      4
Name: num_rooms, dtype: int64
********************
 5     224
 4     187
 6     174
 7     104
 3      96
 2      72
 8      54
 1      33
 9      28
 0      13
 10      9
-1       4
 11      2
Name: num_people, dtype: int64
********************
704.72    2
843.85    2
761.19    2
711.94    2
873.78    2
         ..
858.17    1
690.69    1
863.06    1
856.25    1
686.00    1
Name: housearea, Length: 990, dtype: int64
********************
0    624
1    376
Name: is_ac, dtype: int64
********************
1    798
0    202
Name: is_tv, dtype: int64
********************
0    523
1    477
Name: is_flat, dtype: int64
********************
23299.50    1
18918.92    1
20706.53    1
12059.17    1
52765.10    1
           ..
20385.97    1
36430.80    1
16998.43    1
11753.98    1
15962.89    1
Name: ave_monthly_income, Length: 1000, dtype: int64
********************
1    368
0    316
2    244
3     66
4      6
Name: num_children, dtype: int64
********************
1    608
0    392
Name: is_urban, dtype: int64
********************
515.209962    1
568.092103    1
481.960530    1
793.735424    1
754.729268    1
             ..
357.784461    1
453.095910    1
567.040685    1
662.139395    1
439.591004    1
Name: amount_paid, Length: 1000, dtype: int64
********************

In [7]:
data.isna().sum()

num_rooms             0
num_people            0
housearea             0
is_ac                 0
is_tv                 0
is_flat               0
ave_monthly_income    0
num_children          0
is_urban              0
amount_paid           0
dtype: int64

In [8]:
data.drop(columns=['housearea','ave_monthly_income','num_children'],inplace=True)

In [9]:
data.describe()

,num_rooms,num_people,is_ac,is_tv,is_flat,is_urban,amount_paid
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,1.962000,4.897000,0.376000,0.798000,0.477000,0.608000,600.396359
std,1.030348,2.007591,0.484622,0.401693,0.499721,0.488441,181.406210
min,-1.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,87.851850
25%,1.000000,4.000000,0.000000,1.000000,0.000000,0.000000,475.065141
50%,2.000000,5.000000,0.000000,1.000000,0.000000,1.000000,598.331726
75%,3.000000,6.000000,1.000000,1.000000,1.000000,1.000000,729.930489
max,5.000000,11.000000,1.000000,1.000000,1.000000,1.000000,1102.994109

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   num_rooms    1000 non-null   int64
 1   num_people   1000 non-null   int64
 2   is_ac        1000 non-null   int64
 3   is_tv        1000 non-null   int64
 4   is_flat      1000 non-null   int64
 5   is_urban     1000 non-null   int64
 6   amount_paid  1000 non-null   float64
dtypes: float64(1), int64(6)
memory usage: 54.8 KB

In [11]:
data[data<0]=0

In [12]:
data.describe()

,num_rooms,num_people,is_ac,is_tv,is_flat,is_urban,amount_paid
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,1.967000,4.901000,0.376000,0.798000,0.477000,0.608000,600.396359
std,1.018306,1.996794,0.484622,0.401693,0.499721,0.488441,181.406210
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,87.851850
25%,1.000000,4.000000,0.000000,1.000000,0.000000,0.000000,475.065141
50%,2.000000,5.000000,0.000000,1.000000,0.000000,1.000000,598.331726
75%,3.000000,6.000000,1.000000,1.000000,1.000000,1.000000,729.930489
max,5.000000,11.000000,1.000000,1.000000,1.000000,1.000000,1102.994109

In [13]:
data.shape

(1000, 7)

In [14]:
data.drop(columns=['is_flat','is_urban'],inplace=True)

In [15]:
data.head()

   num_rooms  num_people  is_ac  is_tv  amount_paid
0          3           3      1      1   560.481447
1          1           5      0      1   633.283679
2          3           1      1      1   511.879157
3          0           5      1      1   332.992035
4          1           8      0      1   658.285625

In [16]:
data.to_csv("Cleaned_data.csv")

In [17]:
X=data.drop(columns=['amount_paid'])
y=data['amount_paid']

In [19]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [20]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [21]:
print(X_train.shape)
print(X_test.shape)

(800, 4)
(200, 4)

In [22]:
#LINEAR REG

In [23]:
scaler = StandardScaler()

In [24]:
lr = LinearRegression(normalize=True)

In [25]:
pipe = make_pipeline(scaler,lr)

In [26]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression(normalize=True))])

In [27]:
y_pred_lr=pipe.predict(X_test)

In [28]:
r2_score(y_test,y_pred_lr)

0.15819358121687488

In [29]:
#LASSO

In [30]:
lasso = Lasso()

In [31]:
pipe = make_pipeline(scaler,lasso)

In [32]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [33]:
y_pred_lasso = pipe.predict(X_test)

In [34]:
r2_score(y_test,y_pred_lasso)

0.15831282780760725

In [35]:
#RIDGE

In [36]:
ridge = Ridge()

In [38]:
pipe = make_pipeline(scaler,ridge)

In [39]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [41]:
y_pred_ridge=pipe.predict(X_test)
r2_score(y_test,y_pred_ridge)

0.1582534803050778

In [42]:
print("No Regularisation: ", r2_score(y_test,y_pred_lr))
print("Lasso: ",r2_score(y_test,y_pred_lasso))
print("Ridge: ",r2_score(y_test,y_pred_ridge))

No Regularisation:  0.15819358121687488
Lasso:  0.15831282780760725
Ridge:  0.1582534803050778

In [43]:
import pickle

In [44]:
pickle.dump(pipe,open('RidgeModel.pkl','wb'))